* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background: #1a1a1a;
  padding: 100px;
  color: #d9d9d9;
  font-family: Verdana, arial, sans-serif;
  font-size: 16px; }

p {
  width: 60%;
  margin: 0 0 1.6em 0;
  font-size: .875em;
  line-height: 1.6em; }

a {
  color: #bfbfbf;
  text-decoration: none; }
  a:hover {
    color: #e6e6e6;
    text-decoration: underline; }
  a:visited {
    color: #bfbfbf; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none;
    margin-bottom: .75em; }

ol li {
  font-size: .875em;
  margin-bottom: .75em; }
  ol li ol li:nth-child(1) {
    margin-top: .75em; }
  ol li ol li {
    font-size: 1em; }

code {
  background: black;
  color: #bada55;
  padding: 2px 5px;
  border-radius: 2px; }

.taco {
  width: 80%;
  margin: 0 auto; }
